<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Railway Suite" verbose="1" parallel="false">

    <listeners>
        <listener class-name="common.ScreenshotListener"/>
        <listener class-name="common.ExtentListener"/>
        <listener class-name="common.AllureListener"/>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="Login Tests">
        <classes>
            <class name="testcases.LoginTests"/>
            <class name="testcases.LogoutTests"/>
        </classes>
    </test>

</suite>